<section class="menu-page flex flex-col items-center h-screen justify-between">
  <!-- Опросник -->

  <div *ngIf="showSurvey" class="menu-posts overflow-hidden h-[69dvh] w-full">
    <app-survey
      (surveySubmitted)="onSurveySubmitted($event)"
      class="container content-w menu-post-inner block"
    ></app-survey>
  </div>
  <!-- Попап для подписки на новости -->
  <div
    *ngIf="showNewsPopup"
    class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50"
  >
    <div class="card bg-base-200 shadow-bg p-6 max-w-md w-full rounded-lg">
      <h2 class="card-title justify-center text-2xl mb-4">
        Желаете получить новости?
      </h2>
      <p class="text-sm mb-6 text-center">
        Подпишитесь, чтобы получать актуальные новости по вашим любимым
        категориям!
      </p>
      <div class="flex justify-end space-x-4 w-1/2 mx-auto gap-4">
        <div class="btn-container flex-1">
          <button
            (click)="confirmNewsSubscription(true)"
            class="button btn-card-secondary cursor-pointer"
          >
            Да
          </button>
          <div class="btn-card-secondary-effect"></div>
        </div>
        <div class="btn-container flex justify-center items-center flex-0">
          <button
            (click)="confirmNewsSubscription(false)"
            class="btn-circle cursor-pointer text-2xl px-[20px] py-[10px] rounded-2xl hover:bg-error"
          >
            ❌
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Основное содержимое меню -->
  <div *ngIf="!showSurvey" class="menu-posts overflow-hidden h-[69dvh] w-full">
    <div class="container content-w menu-post-inner">
      <div class="title-group text-snow text-center p-2 text-xl">
        👋 {{ nameUser }} - email: {{ email }}
      </div>
      <!-- Сообщение об ошибке -->
      <div *ngIf="errorMessage" class="error text-red-500 text-center p-4">
        {{ errorMessage }}
      </div>

      <!-- Приветствие -->
      <div class="post-wrapper">
        <div *ngIf="!posts.length && !news.length && !isLoading">
          <div
            *ngIf="greetings.length > 0"
            class="card bg-base-100 mx-auto shadow-bg"
          >
            <figure *ngIf="greetings[1]?.image_url">
              <img
                [src]="greetings[1].image_url"
                alt="Greeting Image"
                class="object-cover"
              />
            </figure>
            <div class="card-body">
              <h2 class="card-title justify-center text-2xl">
                {{ greetings[1].title_for_client || "Thông điệp chào" }}
                <div class="badge badge-secondary">NEW</div>
              </h2>
              <p [innerText]="greetings[1].greeting_text" class="text-sm"></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Карточки постов -->
      <div class="post-wrapper">
        <div
          *ngIf="posts.length"
          class="flex flex-col justify-center gap-8 mb-4"
        >
          <div
            *ngFor="let post of posts"
            class="card bg-base-200 mx-auto shadow-bg"
          >
            <figure *ngIf="post.post_image_url">
              <img
                [src]="post.post_image_url"
                alt="Post Image"
                class="object-cover"
              />
            </figure>
            <div class="card-body">
              <h2 class="card-title justify-center text-2xl">
                {{ post.title_for_client || post.post_title || "Пост" }}
                <div class="badge badge-secondary">NEW</div>
              </h2>
              <p [innerText]="post.post_content" class="text-sm"></p>
              <div
                *ngIf="post.buttons?.length"
                class="flex flex-wrap gap-2 mt-2 items-center justify-center w-full"
              >
                <div class="btn-container" *ngFor="let button of post.buttons">
                  <a
                    [href]="button.button.url || '#'"
                    [ngClass]="{
                      'pointer-events-none opacity-50':
                        !button.button.url &&
                        !button.button.linkedPostId &&
                        !(
                          button.button.postId &&
                          (button.button.categorySportId === null ||
                            button.button.categorySportId === 0) &&
                          button.button.url === null
                        )
                    }"
                    class="button btn-card-secondary cursor-pointer"
                    target="_blank"
                    (click)="onButtonClick(button, $event)"
                  >
                    {{ button.button.name || "Кнопка" }}
                  </a>
                  <div class="btn-card-secondary-effect"></div>
                </div>
              </div>
              <div
                *ngIf="!post.buttons?.length"
                class="text-gray-500 text-sm"
              ></div>
            </div>
          </div>
        </div>

        <!-- Карточки новостей -->
        <div
          *ngIf="news.length"
          class="flex flex-col justify-center gap-8 mb-4"
        >
          <div
            *ngFor="let newsItem of news"
            class="card bg-base-200 mx-auto shadow-bg"
          >
            <figure *ngIf="newsItem.post_image_url">
              <img
                [src]="newsItem.post_image_url"
                alt="News Image"
                class="object-cover"
              />
            </figure>
            <div class="card-body">
              <h2 class="card-title justify-center text-2xl">
                {{
                  newsItem.title_for_client || newsItem.post_title || "Новость"
                }}
                <div class="badge badge-secondary">NEW</div>
              </h2>
              <p [innerText]="newsItem.post_content" class="text-sm"></p>
              <div class="btn-container">
                <div class="btn-card-secondary-effect"></div>
                <a
                  *ngIf="newsItem.btn_title && newsItem.news_url"
                  [href]="newsItem.news_url"
                  class="button btn-card-secondary cursor-pointer"
                  target="_blank"
                >
                  {{ newsItem.btn_title }}
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- Спиннер -->
        <div *ngIf="isLoading || isLoadingNext" class="text-center mt-4">
          <span class="spinner inline-block">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="350"
              height="350"
              viewBox="0 0 24 24"
            >
              <circle cx="12" cy="12" r="0" fill="#b558ff">
                <animate
                  id="svgSpinnersPulseMultiple0"
                  fill="freeze"
                  attributeName="r"
                  begin="0;svgSpinnersPulseMultiple2.end"
                  calcMode="spline"
                  dur="1.2s"
                  keySplines=".52,.6,.25,.99"
                  values="0;11"
                />
                <animate
                  fill="freeze"
                  attributeName="opacity"
                  begin="0;svgSpinnersPulseMultiple2.end"
                  calcMode="spline"
                  dur="1.2s"
                  keySplines=".52,.6,.25,.99"
                  values="1;0"
                />
              </circle>
              <circle cx="12" cy="12" r="0" fill="#b558ff">
                <animate
                  id="svgSpinnersPulseMultiple1"
                  fill="freeze"
                  begin="svgSpinnersPulseMultiple0.begin+0.2s"
                  calcMode="spline"
                  dur="1.2s"
                  keySplines=".52,.6,.25,.99"
                  values="0;11"
                />
                <animate
                  fill="freeze"
                  attributeName="opacity"
                  begin="svgSpinnersPulseMultiple0.begin+0.2s"
                  calcMode="spline"
                  dur="1.2s"
                  keySplines=".52,.6,.25,.99"
                  values="1;0"
                />
              </circle>
              <circle cx="12" cy="12" r="0" fill="#b558ff">
                <animate
                  id="svgSpinnersPulseMultiple2"
                  fill="freeze"
                  begin="svgSpinnersPulseMultiple0.begin+0.3s"
                  calcMode="spline"
                  dur="1.2s"
                  keySplines=".3,.6,.7,.4"
                  values="0;11"
                />
                <animate
                  fill="freeze"
                  attributeName="opacity"
                  begin="svgSpinnersPulseMultiple0.begin+0.3s"
                  calcMode="spline"
                  dur="1.2s"
                  keySplines=".3,.6,.7,.4"
                  values="0;1"
                />
              </circle>
            </svg>
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- Кнопки меню -->
  <div
    class="py-4 bg-base-100 flex flex-col gap-[10px] w-full shadow-bg card buttons-group"
  >
    <button
      *ngFor="let item of getDisplayedItems()"
      class="button button-main hover-success cursor-pointer px-4 mx-auto"
      [ngClass]="{ 'my-bg-success': lastClickedMenuItemId === item.id }"
      (click)="onMenuItemClick(item.id)"
    >
      {{ item.title_for_client }}
    </button>

    <!-- Кнопка «Вернуться» -->
    <button
      *ngIf="hasBackButton()"
      class="button button-main hover-success cursor-pointer px-4 mx-auto button-back"
      (click)="onBackClick()"
    >
      Вернуться
    </button>
  </div>
</section>
